<aside class="col-md-3">
    <h3>Examples</h3>
    <div class="list-group">
        <a href="examples.html#example_1" class="list-group-item">Send Room Message</a>
        <a href="examples.html#example_2" class="list-group-item">Send Private Message</a>
        <a href="examples.html#example_3" class="list-group-item">Iron Worker Boilerplate</a>
        <a href="examples.html#example_4" class="list-group-item">Upload User Photo</a>
        <a href="examples.html#example_5" class="list-group-item">Title Expansion</a>
    </div>
</aside>