<aside class="col-md-3">
    <h3>API</h3>
    <div class="list-group">
        <a href="api.html#auth" class="list-group-item">Authentication</a>
        <a href="api.html#response" class="list-group-item">Response</a>
        <a href="api.html#exceptions" class="list-group-item">Exceptions</a>
        <a href="api.html#expansion" class="list-group-item">Title Expansion</a>
        <a href="api.html#emoticons" class="list-group-item">Emoticons</a>
        <a href="api.html#sessions" class="list-group-item">OAuth Sessions</a>
        <a href="api.html#rooms" class="list-group-item">Rooms</a>
        <a href="api.html#rooms_webhooks" class="list-group-item">Rooms Webhooks</a>
        <a href="api.html#rooms_members" class="list-group-item">Rooms Members</a>
        <a href="api.html#users" class="list-group-item">Users</a>
        <a href="api.html#laravel" class="list-group-item">Laravel Specific</a>
    </div>
</aside>